.btn {
  background-color: var(--yelloy);
  color: var(--light-bg);
  outline: none;
  border: 1px solid var(--light-bg);
  width: 180px;
  height: 45px;
  border-radius: 8px;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: filter .2s;
}

.btn:hover {
  filter: brightness(0.9);
}

.btn:active {
  transform: translate(1px, 1px);
}