.profile_image {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 100%;
  margin: 0 auto;

}

.profile_image > span {
  border-radius: 100%;
  border: 5px solid var(--yellow);
}