.card_title {
  font-size: 1.6rem;
  display: block;
  margin: 8px 0 12px 0 ;
}

.card_price {
  font-size: 1.5rem;
}

.card_price > span {
  font-size: 0.75rem;
}

.card_image {
  position: relative;
  width: 100%;
  min-height: 300px;
  height: auto;
  max-width: 350px;
}

.card_image > div > span {
  width: 100%;
  height: auto;
}

.btn_container {
  display: flex;
  gap: 8px;
}
