.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  padding: 0 2rem;
  position: relative;
}

.title {
  color: #FFC74A;
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: .5rem;
}

.nav {
  color: #fff;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: .5rem;
}

.nav ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav ul li:hover {
  text-decoration: underline;
}

.mobile_nav_close_btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.mobile_nav {
  position: fixed;
  inset: 0 0 0 30%;

  background: #000000e1;
  z-index: 9999;
  border-radius: 8px;
  padding: 1rem 1.5rem;
}

.mobile_nav_out {
  animation: out 400ms ease;
  transform-origin: right center;
  transform: scaleY(0);
}

.mobile_nav_enter {
  animation: enter 400ms ease;
  transform-origin: right center;
}

.mobile_nav nav ul {
  list-style: none;
  margin: 0;
  padding: 1rem 0 0 0;
}

.mobile_nav nav ul li {
  margin: 1rem 0;
}

.mobile_nav nav ul li:active {
  color: var(--yelloy);
}


@keyframes enter {
  0% {
    transform: scaleX(0)
  }
  80% {
      transform: scaleX(1.1)
  }
  100% {
      transform: scaleX(1)
  }
}


@keyframes out {
  0% {
    transform: scaleX(1)
  }
  80% {
    transform: scaleX(1.1)
  }
  100% {
    transform: scaleX(0)
  }
}