:root {
  --yelloy: #FFC74A;
  --light-gray: #eaeaea;
  --bg: #0C0B0B;
  --light-bg: #181716;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #0C0B0B;
  color: #fff;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  filter: brightness(0.9);
  color: var(--yelloy);
}

* {
  box-sizing: border-box;
}

/* Custom scrollbar a*/

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--yelloy);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9c792d;
}

.page_loader {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
}
