@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* cores antigas   */
    --yellow: #FFC74A;
    --light-gray: #eaeaea;
    --bg: #0C0B0B;
    --light-bg: #181716;
    --sidebar-bg: #474545;

    --radius: 0.5rem;

    /* Primary colors for buttons */
    --primary: var(--yellow);
    --primary-foreground: var(--light-gray);

    /* Secondary colors for buttons */
    --secondary: var(--light-gray);
    --secondary-foreground: "#0f131d";

    /* Used for focus ring */
    --ring: "#8492a6";
    
    --background: var(--bg);
    --foreground: var(--light-gray);
  
    --border: var(--light-gray);
    --input: var(--light-gray);
    /* Button destructive */
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --input: 214.3 31.8% 91.4%;
  }
 
  .dark {
    /* todo   */
  }
}
 
@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: var(--bg);
    color: var(--foreground);
    scroll-behavior: smooth;
  }
  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    filter: brightness(0.9);
    color: var(--yellow);
  }
  /* Custom scrollbar a*/

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--yellow);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9c792d;
  }
}

.page_loader {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
}
