@keyframes growDown {

  0% {

    transform: rotateX(-90deg)

  }

  70% {

    transform: rotateX(20deg)

  }

  100% {

    transform: rotateX(0deg)

  }

}

.container {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.container_styles {
  background-color: var(--yelloy);
  padding: 0 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  min-width: 133px;
  min-height: 38px;
}

.dropdown {
  position: absolute;
  bottom: -2.8rem;
  left: -40px;

  animation: growDown 300ms ease-in-out forwards;

  transform-origin: top center;
}
