.container {
  padding: 0 2rem;
  background-color: #0C0B0B;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
}

.main p {
  color: #fff;
  text-align: center;
}

.image {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
}

.title {
  color: #FFC74A;
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: .5rem;
}
